<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        h2 {
            color: black;
        }

        button {
            width: 150px;
            height: 40px;
            font-size: 14px;
            text-align: center;
        }
    </style>
</head>

<body>
    <h2>Hello {{name}} !</h2>
    <p>Please Click this link to verify your email.</p>
    <p>
        <br />
        <a href="{{link}}"><button>Click here to verify !</button></a>
        <br />
        <br />
    </p>
    <p><i>This is an automated email. Do not reply this email.</i></p>
</body>

</html>